html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #12130F;
  margin-bottom: 60px;
}

header {
  padding-left: 50px;
  padding-top: 70px;
  width: 100%;
  background-color: #12130F;
  color: #FFF;
}

span {
  color: #D62246
}

.main-container {
  margin-top: 80px;
  margin-bottom: 100px;
  padding: 0px 50px 0px;
  color: white;
  width: 100%;
  height: 500px;
}

.benford-input {
  width: 100%;
  height: 100%;
  resize: none;
  background-color: #12130F;
  color: #FFF;
  overflow-y: scroll;
}

#benfChart {
  height: 100%;
  width: 100%;
}

.benford-input:focus {
  outline: none !important;
  border-color: #D62246;
  box-shadow: 0 0 10px #D62246;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #12130F;
}

::-webkit-scrollbar-thumb {
  background: #D62246;
}

::-webkit-scrollbar-thumb:hover {
  background: #D62246;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #D62246;
  color: #FFF;
  text-align: center;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: white;
}